  /* Create an accessible color palette using var()function */
  /* https://www.w3schools.com/css/css3_variables.asp */
  :root {
    --formfieldcolor: #FFFFFF;
    --formfieldborder: 2px solid #000000;
    --formfieldtext: #000000;
  }

  body {
    font-family: "Aleo", sans-serif;
  }


  form {
    display: grid;
    grid-template-columns: 50% 50%;
    border: var(--formfieldborder)
    border-radius: 16px;
    width:70%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--formfieldtext);
    background: var(--formfieldcolor);
  }

  .radio {
    grid-column-start: 1;
    grid-column-end: 3;
    color: var(--formfieldtext);
  }

  #name {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background: var(--formfieldcolor);
    color: var(--formfieldtext)
  }

  #message {
    width: 100%;
    padding: 10px;
    resize: vertical;
  }

  input,
  textarea {
    padding: 10px;
    border: var(--formfieldborder);
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }
